html {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  letter-spacing: 1px;
  font-size: 0.9rem;
  margin: 10px;
  text-align: center;
}

td, th {
  border: 1px solid;
  padding: 10px 20px;
}

td {
  font-weight: bold;
}

th {
  font-weight: normal;
  background-color: rgb(235,235,235);
}